easyocr==1.7.2
fastapi==0.118.0
gunicorn==21.2.0
loguru==0.7.3
mediapipe==0.10.18
numpy==1.26.4
opencv-contrib-python-headless==4.11.0.86
pydantic==2.11.9
pydantic-settings==2.7.0
python-dotenv==1.0.1
python-multipart==0.0.20
pytesseract==0.3.13
psutil==7.1.0
requests==2.32.5
torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.203
uvicorn==0.37.0